<%#Edição de clientes%>

<h1>Editando dados</h1>

<%= render "form", cliente: @cliente %>

<br>

<div>
  <%= link_to "Show this cliente", @cliente %> |
  <%= link_to "Volte para a Home",inicio_path %>
</div>
