<%#<div>
<h2>
<span class="S">S</span>
<span class="V">V</span>
<span class="D">D</span>
<h2>
</div>%>
<center>
<h3>Novo Cadastro</h3>

<%= render "form", cliente: @cliente %>

<br>

<div>
  <%= link_to "Volte ao inicio", "/inicio" %>
</div>

</center>