
<header> 
  <h1>SVD Gráfica<h1>
  <h4>Produtos<h4>
  <form>
    <input placeholder='Pesquisar'/>
    <button>Enviar</button>
  </form>

  <nav>
   <h6> <a href= '/inicio'>Home</a>
    <a href='/produto'>Produtos</a>
    <a href='/clientes/new'>Cadastro</a>
    <h6>
  </nav>
</header>
<h4>
<%= @lista %>
<h4>
