

<header> 
  <h1>SVD Gráfica<h1>
  <h4> <h4>
  <form>
    <input placeholder='Pesquisar'/>
    <button>Enviar</button>
  </form>
  <nav>
  <h4>
    <a href= '/inicio'>Home</a>
    <a href='/produto'>Produtos</a>
    <a href='/clientes/new'>Cadastro</a>
  <h4>
  </nav>
</header>


<h2>Aqui você encontra canecas, camisetas e muitas outras personalizações<h2>