

<header> 

<div>
<h2>
<span class="S">S</span>
<span class="V">V</span>
<span class="D">D</span>
<h2>
</div>

<center>
  <nav>
   <h6> <a href= '/inicio'>Home</a>
    <a href='/produto'>Produtos</a>
    <a href='/clientes/new'>Cadastro</a>
    <h6>
  </nav>
</center>

  <form>
    <input placeholder='Pesquisar'/>
    <button>Buscar</button>
  </form>

<h6>Aqui você encontra canecas, camisetas e muitas outras personalizações<h6>
